<!DOCTYPE html>
<html lang="pt" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/lista_tarefas.css">
    <!DOCTYPE html>
    <html lang="pt" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/users.css">
        <title>Lista de Tarefas</title>
    </head>
    <body>
        <h1> Criar nova Tarefa</h1>

        <tr th:each="tarefa : ${tarefas}">
            <td><span th:text="${tarefa.id}"></span></td>
            <td><span th:text="${tarefa.titulo}"></span></td>
        </tr>
    </body>
    </html>